@media screen and (max-width: 768px) {
  .stickers {
    height: 109vw;
  }
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/maket768.svg");
    width: 100%;
    height: 648.8vw;
    opacity: 0.2;
  }
  .orangeFlower {
    width: 33%;
    top: 40.5%;
    left: 11.2%;
  }
  .pinkStar {
    width: 34.2%;
    top: 48.2%;
    left: 66%;
  }
  .world {
    width: 29.5%;
    top: 55.5%;
    left: 32.2%;
  }
  .elephant {
    width: 30%;
    top: 22%;
    left: 0.5%;
  }
  .vase {
    width: 35%;
    top: 19%;
    left: 66.6%;
  }
  .dateRectangle {
    width: 34.5%;
    top: 72.5%;
    left: 12%;
  }

  .brahman {
    width: 32%;
    top: 51.3%;
    left: -2.5%;
  }
  .hat {
    width: 39%;
    top: 5.5%;
    left: 63.3%;
  }
  .divaliRectangle {
    width: 37vw;
    top: 31.5vw;
    left: 27.3vw;
  }
  .festRectangle {
    width: 37vw;
    top: 7.5vw;
    left: 22.6vw;
  }
  .fireRectangle {
    width: 39vw;
    top: 15.4vw;
    left: 40.2vw;
  }
  .indiaRectangle {
    width: 33.5%;
    top: 41%;
    left: 51%;
  }
  .orangeStar {
    width: 25%;
    top: 65%;
    left: 58.5%;
  }
  .lotus {
    width: 27.8%;
    top: -6%;
    left: 22.5%;
  }
  /* 3 секция */

  .runStroke1 p {
    font-size: 7vw;
    padding: 2% 0;
    width: 400%;
  }

  /* 4 секция */

  .gradientAndRunstroke {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .shapesRow {
    flex-wrap: wrap;
  }

  .shapes {
    height: 64vw;
    flex-direction: column;
  }
  .squares {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  /* не менялось еще */
  .greenSquare,
  .orangeSquare,
  .pinkSquare,
  .greenSquare2 {
    width: 50%;
  }
  .gradient {
    height: 24.3vw;
  }
  .pinkStroke {
    margin-top: -6%;
  }
  .pinkStroke-track img {
    width: 70vw;
  }
}
@media screen and (max-width: 414px) {
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/maket414.svg");
    width: 100%;
    height: 1017.6vw;
    opacity: 0.2;
  }
  /* 1 секция */
  .logo {
    display: none;
  }
  .logo414 {
    display: block;
  }
  .logoSection {
    display: flex;
    width: 100%;
    padding: 2.25%;
    height: 103.5vw;
  }
  /* 2 секция */
  .stickers {
    height: 115.5vw;
    margin-bottom: 0vw;
  }
  .orangeFlower {
    width: 39%;
    top: 31.5%;
    left: -1.8%;
  }
  .pinkStar {
    width: 39.2%;
    top: 57.2%;
    left: 67%;
  }
  .world {
    width: 35.7%;
    top: 51.5%;
    left: 20%;
  }
  .elephant {
    width: 36%;
    top: -3%;
    left: -0.5%;
  }
  .vase {
    width: 41%;
    top: 12%;
    left: 61.6%;
  }
  .dateRectangle {
    width: 42.5%;
    top: 78.5%;
    left: 11%;
  }

  .brahman {
    width: 38%;
    top: 55.3%;
    left: -4%;
  }
  .hat {
    width: 43%;
    top: -0.5%;
    left: 61.3%;
  }
  .divaliRectangle {
    width: 44vw;
    top: 45.1vw;
    left: 27.3vw;
  }
  .festRectangle {
    width: 44vw;
    top: 14vw;
    left: 13.3vw;
  }
  .fireRectangle {
    width: 48vw;
    top: 22.6vw;
    left: 36.2vw;
  }
  .indiaRectangle {
    width: 42%;
    top: 51%;
    left: 55%;
  }
  .orangeStar {
    width: 29%;
    top: 70%;
    left: 54.5%;
  }
  .lotus {
    width: 33.8%;
    top: -10%;
    left: 30.5%;
  }
}
