@media screen and (max-width: 768px) {
  .stickers {
    height: 109vw;
  }
  /* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/maket768.svg");
    width: 100%;
    height: 648.8vw;
    opacity: 0.2;
  } */
  .orangeFlower {
    width: 33%;
    top: 40.5%;
    left: 11.2%;
  }
  .pinkStar {
    width: 34.2%;
    top: 48.2%;
    left: 66%;
  }
  .world {
    width: 29.5%;
    top: 55.5%;
    left: 32.2%;
  }
  .elephant {
    width: 30%;
    top: 22%;
    left: 0.5%;
  }
  .vase {
    width: 35%;
    top: 19%;
    left: 66.6%;
  }
  .dateRectangle {
    width: 34.5%;
    top: 72.5%;
    left: 12%;
  }

  .brahman {
    width: 32%;
    top: 51.3%;
    left: -2.5%;
  }
  .hat {
    width: 39%;
    top: 5.5%;
    left: 63.3%;
  }
  .divaliRectangle {
    width: 37vw;
    top: 31.5vw;
    left: 27.3vw;
  }
  .festRectangle {
    width: 37vw;
    top: 7.5vw;
    left: 22.6vw;
  }
  .fireRectangle {
    width: 39vw;
    top: 15.4vw;
    left: 40.2vw;
  }
  .indiaRectangle {
    width: 33.5%;
    top: 41%;
    left: 51%;
  }
  .orangeStar {
    width: 25%;
    top: 65%;
    left: 58.5%;
  }
  .lotus {
    width: 27.8%;
    top: -6%;
    left: 22.5%;
  }
  /* 3 секция */

  .runStroke1 p {
    font-size: 7.8vw;
    padding: 2% 0;
    width: 400%;
  }

  /* 4 секция */

  .gradientAndRunstroke {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .shapesRow {
    flex-wrap: wrap;
  }

  .shapes {
    height: 90vw;
    flex-direction: column;
  }
  .squares {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .greenSquare,
  .orangeSquare,
  .pinkSquare,
  .greenSquare2 {
    width: 50%;
  }
  .gradient {
    height: 35vw;
  }
  .pinkStroke {
    margin-top: -16%;
  }
  .pinkStroke-track img {
    width: 110vw;
  }

  /* 5 секция */

  .trace {
    height: 120vw;
    width: 100%;
    position: relative;
    margin-top: 10vw;
    margin-bottom: -14vw;
  }
  .trace2 p {
    font-size: 6vw;
    font-weight: 900;
  }
  .textAndgreenTrace1 {
    position: absolute;
    top: -6vw;
    left: 4vw;
    width: 48.8vw;
  }
  .greenTrace1 p {
    position: absolute;
    top: -4vw;
    left: 4vw;
    animation: greenTrace1-p 5s linear infinite;
  }
  .textAndgreenTrace2 {
    position: absolute;
    top: 32vw;
    left: 23vw;
    width: 49.7vw;
  }

  .greenTrace2 p {
    position: absolute;
    top: 32vw;
    left: 28vw;
    animation: greenTrace2-p 5s linear infinite;
  }
  .orangeTrace1 p {
    position: absolute;
    top: -6vw;
    right: 21vw;
    animation: orangeTrace1-p 5s linear infinite reverse;
  }

  .textAndorangeTrace1 {
    position: absolute;
    top: -11vw;
    right: 21vw;
    width: 28.9vw;
  }
  .textAndpinkTrace3 {
    position: absolute;
    top: 56vw;
    left: 4vw;
    width: 52.8vw;
  }
  .pinkTrace3 p {
    position: absolute;
    top: 58.5vw;
    left: 9vw;
  }
  .textAndpinkTrace4 {
    position: absolute;
    top: 67vw;
    left: 52vw;
    width: 43.1vw;
  }
  .pinkTrace4 p {
    position: absolute;
    top: 68vw;
    left: 69vw;
  }
  .textAndgreenTrace3 {
    position: absolute;
    top: 8vw;
    left: 57vw;
    width: 41.5vw;
  }
  .greenTrace3 p {
    position: absolute;
    top: 10vw;
    left: 58vw;
  }
  .textAndorangeTrace3 {
    position: absolute;
    top: 39vw;
    left: 51vw;
    width: 32.3vw;
  }
  .orangeTrace3 p {
    position: absolute;
    top: 44vw;
    left: 52vw;
  }
  .textAndpinkTrace2 {
    position: absolute;
    top: 22vw;
    right: 3vw;
    width: 37.9vw;
  }
  .pinkTrace2 p {
    position: absolute;
    top: 24vw;
    right: 8vw;
  }
  .textAndorangeTrace2 {
    position: absolute;
    top: 25vw;
    left: 3vw;
    width: 36.8vw;
  }
  .orangeTrace2 p {
    position: absolute;
    top: 29vw;
    left: 3vw;
  }
  .textAndorangeTrace4 {
    position: absolute;
    top: 76vw;
    right: 44vw;
    width: 40.9vw;
  }
  .orangeTrace4 p {
    position: absolute;
    top: 81vw;
    right: 47vw;
  }
  .textAndpinkTrace1 {
    position: absolute;
    top: 11vw;
    left: 12vw;
    width: 46vw;
  }
  .pinkTrace1 p {
    position: absolute;
    top: 13vw;
    left: 24vw;
    animation: pinkTrace1-p 5s linear infinite;
  }
  /* 6 секция */

  .pointMovement {
    position: relative;
    width: 98.2%;
    height: 135.8vw;
    background-repeat: no-repeat;
    background-size: 98.5%;
    background-image: url("../images/backgroungGradient768.svg");
    margin: 2% 0% 2% 1.5%;
  }
  .lineAndPoint {
    display: none;
  }
  .point {
    width: 4.9%;
    top: 32.1%;
    left: 4.7%;
  }
  .poojaText1 h1 {
    font-size: 5vw;
    top: 14.5%;
    left: 4.4%;
  }
  .poojaText1 p {
    font-size: 3.2vw;
    top: 18.5%;
    left: 4.4%;
  }
  .poojaText2 h1 {
    font-size: 5vw;
    top: 14.5%;
    left: 56.6%;
  }
  .poojaText2 p {
    font-size: 3.2vw;
    top: 18.5%;
    left: 56.6%;
  }
  .poojaText3 h1 {
    font-size: 5vw;
    top: 71.5%;
    left: 74%;
  }
  .poojaText3 p {
    font-size: 3.2vw;
    top: 75.5%;
    left: 74%;
  }
  .poojaText4 h1 {
    font-size: 5vw;
    top: 71.5%;
    left: 27.4%;
  }
  .poojaText4 p {
    font-size: 3.2vw;
    top: 75.5%;
    left: 27.4%;
  }
  .poojaText5 h1 {
    font-size: 5vw;
    top: 71.5%;
    left: 4.4%;
  }
  .poojaText5 p {
    font-size: 3.2vw;
    top: 75.5%;
    left: 4.4%;
  }

  @keyframes point {
    0% {
      transform: translate(0, 0);
    }
    3% {
      transform: translate(2vw, 0vw);
    }
    6% {
      transform: translate(7vw, -5vw);
    }
    9% {
      transform: translate(12vw, 3vw);
    }
    12% {
      transform: translate(18vw, -12vw);
    }
    15% {
      transform: translate(25vw, 3vw);
    }
    18% {
      transform: translate(29vw, -6vw);
    }
    21% {
      transform: translate(36vw, 4vw);
    }
    24% {
      transform: translate(40vw, -12vw);
    }
    27% {
      transform: translate(47vw, 3vw);
    }

    30% {
      transform: translate(51vw, -4vw);
    }

    33% {
      transform: translate(57vw, -4vw);
    }

    36% {
      transform: translate(60vw, -5vw);
    }
    39% {
      transform: translate(62vw, -4vw);
    }
    42% {
      transform: translate(63vw, -6vw);
    }
    45% {
      transform: translate(66vw, -4vw);
    }

    48% {
      transform: translate(69vw, -3vw);
    }
    52% {
      transform: translate(80vw, -3vw);
    }

    /* финиш  */
    54% {
      transform: translate(83vw, 1vw);
    }
    56% {
      transform: translate(85vw, 5vw);
    }
    60% {
      transform: translate(87vw, 34vw);
    }
    61% {
      transform: translate(84vw, 39vw);
    }
    63% {
      transform: translate(79vw, 45vw);
    }
    65% {
      transform: translate(74vw, 28vw);
    }
    67% {
      transform: translate(68vw, 45vw);
    }
    69% {
      transform: translate(63vw, 28vw);
    }
    71% {
      transform: translate(59vw, 45vw);
    }
    74% {
      transform: translate(52vw, 28vw);
    }
    77% {
      transform: translate(44vw, 45vw);
    }
    80% {
      transform: translate(41vw, 37vw);
    }
    83% {
      transform: translate(27vw, 37vw);
    }
    86% {
      transform: translate(24vw, 45vw);
    }
    88% {
      transform: translate(19vw, 28vw);
    }
    90% {
      transform: translate(15vw, 39vw);
    }
    92% {
      transform: translate(11vw, 36vw);
    }
    93% {
      transform: translate(8vw, 39vw);
    }
    95% {
      transform: translate(6vw, 36vw);
    }
    97% {
      transform: translate(4vw, 37vw);
    }
    99% {
      transform: translate(2vw, 37vw);
    }
    100% {
      transform: translate(0vw, 37vw);
    }
  }

  /* 7 секция */

  .hindiSection {
    height: 143vw;
    background-image: url("../images/hindi414.svg");
    background-size: 98%;
    margin: 2% 0% 2% 2%;
    width: 97.7%;
  }
  .brahman1 {
    width: 36.5%;
    top: 23%;
    left: -1.5%;
  }

  .elephant1 {
    width: 29.5%;
    top: -4.8%;
    left: 54.2%;
  }
  .sun1 {
    width: 29%;
    top: 67%;
    left: 0.3%;
  }
  .vase1 {
    width: 38.5%;
    top: 59%;
    left: 53%;
  }
  /* 8 секция */

  .greenRunStroke p {
    animation: marquee 6s infinite linear;
    width: 400%;
    font-size: 8.2vw;
    padding-top: 2%;
    padding-bottom: 2.6%;
  }

  /* подвал */

  .footer {
    margin-top: -26%;

    height: 88vw;
  }
  .pinkRectangle1 {
    width: 41%;
    top: 38%;
    left: 4.5%;
  }

  .text1 {
    font-size: 5.2vw;
    top: 46.8%;
    left: 8.6%;
  }
  .endorangestar {
    width: 23%;
    top: 37%;
    left: 37.1%;
  }

  .pinkRectangle2 {
    width: 33.6%;
    top: 43%;
    left: 53.4%;
  }
  .text2 {
    font-size: 5.2vw;
    top: 53%;
    left: 60%;
  }
  .pinkRectangle3 {
    width: 34.3%;
    top: 68%;
    left: 61.5%;
  }
  .text3 {
    font-size: 5.2vw;
    top: 75.1%;
    left: 68.8%;
  }
  .endworld {
    width: 28%;
    top: 56.8%;
    left: 45%;
  }

  .pinkRectangle4 {
    width: 51%;
    top: 67%;
    left: 5.5%;
  }
  .text4 {
    font-size: 5.3vw;
    top: 75.2%;
    left: 10.8%;
  }
}
@media screen and (max-width: 414px) {
  /* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/maket414.svg");
    width: 100%;
    height: 1017.6vw;
    opacity: 0.2;
  } */
  /* 1 секция */
  .logo {
    display: none;
  }
  .logo414 {
    display: block;
  }
  .logoSection {
    display: flex;
    width: 100%;
    padding: 2.25%;
    height: 103.5vw;
  }
  /* 2 секция */
  .stickers {
    height: 115.5vw;
    margin-bottom: 0vw;
  }
  .orangeFlower {
    width: 39%;
    top: 31.5%;
    left: -1.8%;
  }
  .pinkStar {
    width: 39.2%;
    top: 57.2%;
    left: 67%;
  }
  .world {
    width: 35.7%;
    top: 51.5%;
    left: 20%;
  }
  .elephant {
    width: 36%;
    top: -3%;
    left: -0.5%;
  }
  .vase {
    width: 41%;
    top: 12%;
    left: 61.6%;
  }
  .dateRectangle {
    width: 42.5%;
    top: 78.5%;
    left: 11%;
  }

  .brahman {
    width: 38%;
    top: 55.3%;
    left: -4%;
  }
  .hat {
    width: 43%;
    top: -0.5%;
    left: 61.3%;
  }
  .divaliRectangle {
    width: 44vw;
    top: 45.1vw;
    left: 27.3vw;
  }
  .festRectangle {
    width: 44vw;
    top: 14vw;
    left: 13.3vw;
  }
  .fireRectangle {
    width: 48vw;
    top: 22.6vw;
    left: 36.2vw;
  }
  .indiaRectangle {
    width: 42%;
    top: 51%;
    left: 55%;
  }
  .orangeStar {
    width: 29%;
    top: 70%;
    left: 54.5%;
  }
  .lotus {
    width: 33.8%;
    top: -10%;
    left: 30.5%;
  }
  /* 4 секция */
  .squares {
    display: flex;
    flex-direction: column;
  }
  .shapes {
    height: 176.9vw;
    margin-bottom: -4vw;
  }

  /* 5 секция */
  .trace {
    height: 204.6vw;
    margin-bottom: -97vw;
  }
  /* 7 секция */
  .hindiSection {
    width: 97%;
    height: 146vw;
    background-image: url("../images/hindi414.svg");
    background-size: 96%;
    margin: 2% 0% 2% 2%;
  }
  .brahman1 {
    width: 36.5%;
    top: 23%;
    left: -1.5%;
  }

  .elephant1 {
    width: 29.5%;
    top: -4.8%;
    left: 54.2%;
  }
  .sun1 {
    width: 29%;
    top: 67%;
    left: 0.3%;
  }
  .vase1 {
    width: 38.5%;
    top: 59%;
    left: 53%;
  }

  /* 8 секция */

  .greenRunStroke p {
    animation: marquee 6s infinite linear;
    width: 400%;
    font-size: 8.2vw;
    padding: 2% 0;
  }

  /* подвал */

  .footer {
    margin-top: -18%;

    height: 88vw;
  }
  .pinkRectangle1 {
    width: 51%;
    top: 26%;
    left: 7.5%;
  }

  .text1 {
    font-size: 6.6vw;
    top: 37.4%;
    left: 12.1%;
  }
  .endorangestar {
    width: 29%;
    top: 25%;
    left: 49.1%;
  }

  .pinkRectangle2 {
    width: 38.6%;
    top: 47.8%;
    left: 54.4%;
  }
  .text2 {
    font-size: 6.6vw;
    top: 59%;
    left: 61%;
  }
  .pinkRectangle3 {
    width: 40.3%;
    top: 57%;
    left: 4.5%;
  }
  .text3 {
    font-size: 6.6vw;
    top: 65.4%;
    left: 11.2%;
  }
  .endworld {
    width: 32%;
    top: 54%;
    left: 36%;
  }

  .pinkRectangle4 {
    width: 62%;
    top: 84%;
    left: 22.5%;
  }
  .text4 {
    font-size: 6.6vw;
    top: 93.7%;
    left: 28.8%;
  }
}
