* {
  box-sizing: border-box;
}
body {
  display: block;
  font-family: "TT Gertika Trial";
  background-color: black;
  position: relative;
}
/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/maket.svg");
  width: 100%;
  height: 267vw;
  opacity: 0.2;
} */
/* 1 секция */

.logoSection {
  display: flex;
  width: 100%;
  height: 19vw;
  padding: 1.27% 1.27%;
}

.logo {
  width: 100%;
}

/* 2 секция */

.stickers {
  position: relative;
  width: 100%;
  height: 41vw;
  margin: 0 auto;
  margin-bottom: -6vw;
}

.orangeFlower {
  width: 20%;
  position: absolute;
  top: 19.5%;
  left: 18.2%;
}
.pinkStar {
  width: 20%;
  position: absolute;
  top: 1%;
  left: 67%;
}
.orangeStar {
  width: 14.5%;
  position: absolute;
  top: 43%;
  left: 64.5%;
}
.elephant {
  width: 18.5%;
  position: absolute;
  top: 9%;
  left: 8.5%;
}
.vase {
  width: 22%;
  position: absolute;
  top: 37%;
  left: 73.6%;
}
.world {
  width: 18.5%;
  position: absolute;
  top: 40.5%;
  left: 30.2%;
}
.dateRectangle {
  width: 19.4%;
  position: absolute;
  top: 58.5%;
  left: 13%;
}
.date {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 65.6%;
  left: 15.63%;
  transform: rotate(-11.33deg);
}
.brahman {
  width: 18.9%;
  position: absolute;
  top: 41.3%;
  left: 0.5%;
}
.hat {
  width: 24.5%;
  position: absolute;
  top: 16%;
  left: 71.5%;
}
.divaliRectangle {
  width: 19%;
  position: absolute;
  top: 30%;
  left: 38.3%;
}
.divali {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 39.5%;
  left: 41.7%;
  transform: rotate(20.04deg);
}
.festRectangle {
  width: 19%;
  position: absolute;
  top: 7.4%;
  left: 32.86%;
}
.fest {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 15.6%;
  left: 36.2%;
  transform: rotate(-17.14deg);
}
.fireRectangle {
  width: 19%;
  position: absolute;
  top: 23.5%;
  left: 50.2%;
}
.fire {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 27.69%;
  left: 55.9%;
  transform: rotate(2.55deg);
}
.indiaRectangle {
  width: 19%;
  position: absolute;
  top: 48%;
  left: 49.4%;
}
.india {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 59.2%;
  left: 54.7%;
  transform: rotate(-23.82deg);
}
.lotus {
  width: 16%;
  position: absolute;
  top: -16%;
  left: 27.5%;
}
/* 3 секция */

.marquee {
  position: relative;
  width: 100%;
  height: 8vw;
  margin: 0 auto;
  background-color: #eb8ffc;
  overflow: hidden;
}
.runStroke1 {
  overflow: hidden;
  padding-top: 1.6%;
}
.runStroke1 p {
  animation: marquee 6s infinite linear;
  width: 200%;
  font-size: 4.45vw;
}

/* 4 секция */

/* .shapes {
  display: flex;
  width: 100%;
  height: 35.5vw;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.greenSquare {
  width: 27.3%;
}
.orangeSquare {
  width: 27.3%;
}
.pinkSquare {
  width: 27.3%;
}
.greenSquare2 {
  width: 27.3%;
}
.leftSquares {
  display: flex;
  flex-direction: row;
}
.rightsquares {
  display: flex;
  flex-direction: row;
}
.squares {
  display: flex;

  flex-direction: column;
  flex: 1;
}
.gradientAndRunstroke {
  display: flex;
  flex-direction: column;
}
.gradient {
  width: 100%;

  height: 22.4vw;
  background-image: url("../images/gradient.svg");
  background-size: cover;
}
.pinkrunStroke {
  width: 100%;
} */

.shapes {
  width: 100%;
  margin: 0 auto;
  height: 35.5vw;
  position: relative;
}

.shapesRow {
  display: flex;
  align-items: flex-start;
}
.squares {
  display: flex;
  flex-direction: column;
}

.leftSquares,
.rightsquares {
  display: flex;
  flex-direction: row;
}
.gradientAndRunstroke {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.greenSquare,
.orangeSquare,
.pinkSquare,
.greenSquare2 {
  width: 50%;
}

.gradient {
  width: 100%;
  height: 22.4vw;

  background-image: url("../images/gradient.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.pinkrunStroke {
  width: 65%;
  position: absolute;
  top: 48%;
}
/* .pointMovement {
  position: relative;
  width: 100%;
  height: 40.4vw;
  background-image: url("../images/backgroundGradient.svg");
  background-size: cover;
  margin-left: 1.27%;
  margin-top: 1.27%;
} */
.pointMovement {
  position: relative;
  width: 100%;
  height: 40.4vw;

  padding: 1.27%;

  background-image: url("../images/backgroundGradient.svg");
  background-size: cover;
  background-position: center;
}
.lineAndPoint {
  width: 100%;
  height: 100%;

  position: relative;
}
.way {
  width: 98%;
  height: 100%;
  /* object-fit: contain; */
  padding-left: 2%;
  padding-right: 2%;
}
