* {
  box-sizing: border-box;
}
body {
  display: block;
  font-family: "TT Gertika Trial";
  background-color: black;
  position: relative;
}
/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/maket.svg");
  width: 100%;
  height: 267vw;
  opacity: 0.2;
} */
/* 1 секция */

.logoSection {
  display: flex;
  width: 100%;
  padding: 1.25%;
}

.logo {
  width: 100%;
  display: block;
}
.logo414 {
  display: none;
}

/* 2 секция */

.stickers {
  position: relative;
  width: 100%;
  height: 41vw;
  margin: 0 auto;
  margin-bottom: -6vw;
}

.orangeFlower {
  width: 20%;
  position: absolute;
  top: 19.5%;
  left: 18.2%;
  animation: orangeFlower 3s ease 1 reverse;
}
.pinkStar {
  width: 20%;
  position: absolute;
  top: 1%;
  left: 67%;
}

.elephant {
  width: 18.5%;
  position: absolute;
  top: 9%;
  left: 8.5%;
}
.vase {
  width: 22%;
  position: absolute;
  top: 37%;
  left: 73.6%;
}
.world {
  width: 18.5%;
  position: absolute;
  top: 40.5%;
  left: 30.2%;
}
/* с текстом */
/* .dateRectangle {
  position: absolute;
  top: 58.5%;
  left: 13%;
  padding: 2.2vw;
  background-color: #aef261;
  border-radius: 3.4vw;
  font-size: 2.4vw;
  font-weight: 500;
  transform: rotate(-11.33deg);
} */
.dateRectangle {
  width: 20.5%;
  position: absolute;
  top: 58.5%;
  left: 12%;
}
/* .date {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 65.6%;
  left: 15.63%;
  transform: rotate(-11.33deg);
} */
.brahman {
  width: 18.9%;
  position: absolute;
  top: 41.3%;
  left: 0.5%;
}
.hat {
  width: 24.5%;
  position: absolute;
  top: 16%;
  left: 71.5%;
}
/* с текстом */
/* .divaliRectangle {
  width: 19%;
  position: absolute;
  top: 30%;
  left: 38.3%;
} */
.divaliRectangle {
  width: 22vw;
  position: absolute;
  top: 11.5vw;
  left: 37.3vw;
}
/* .divali {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 39.5%;
  left: 41.7%;
  transform: rotate(20.04deg);
} */
/* с текстом */
/* .festRectangle { 
  width: 19%;
  position: absolute;
  top: 7.4%;
  left: 32.86%;
} */

.festRectangle {
  width: 23vw;
  position: absolute;
  top: -0.5vw;
  left: 31.6vw;
}
/* .fest {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 15.6%;
  left: 36.2%;
  transform: rotate(-17.14deg);
} */
/* с текстом */
/* .fireRectangle {
  width: 19%;
  position: absolute;
  top: 23.5%;
  left: 50.2%;
} */
.fireRectangle {
  width: 23.5vw;
  position: absolute;
  top: 3vw;
  left: 48.2vw;
}
/* .fire {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 27.69%;
  left: 55.9%;
  transform: rotate(2.55deg);
} */
/* с текстом */
/* .indiaRectangle {
  width: 19%;
  position: absolute;
  top: 48%;
  left: 49.4%;
} */
.indiaRectangle {
  width: 20.5%;
  position: absolute;
  top: 47%;
  left: 48%;
}
.orangeStar {
  width: 14.5%;
  position: absolute;
  top: 43%;
  left: 64.5%;
}
/* .india {
  position: absolute;
  font-size: 2.6vw;
  font-weight: 500;
  font-style: normal;
  top: 59.2%;
  left: 54.7%;
  transform: rotate(-23.82deg);
} */
.lotus {
  width: 16%;
  position: absolute;
  top: -16%;
  left: 27.5%;
}

.orangeFlower,
.pinkStar,
.orangeStar,
.elephant,
.vase,
.hat,
.world,
.lotus,
.brahman,
.dateRectangle,
.divaliRectangle,
.festRectangle,
.fireRectangle,
.indiaRectangle {
  animation: fallFromTop 1.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  opacity: 0;
}
.indiaRectangle {
  --shift-x: -1px;
  animation-delay: 0.1s;
}
.divaliRectangle {
  --shift-x: -1px;
  animation-delay: 0.17s;
}
.festRectangle {
  --shift-x: -1px;
  animation-delay: 0.3s;
}
.fireRectangle {
  --shift-x: -1px;
  animation-delay: 0.25s;
}
.orangeFlower {
  --shift-x: -40px;
  animation-delay: 0.2s;
}

.pinkStar {
  --shift-x: 20px;
  animation-delay: 0.7s;
}

.orangeStar {
  --shift-x: -20px;
  animation-delay: 0.35s;
}
.dateRectangle {
  --shift-x: -1px;
  animation-delay: 0.1s;
}
/* .elephant {
  --shift-x: 30px;
  animation-delay: 0.15s;
} */
.elephant {
  --shift-x: 30px;
  animation-delay: 0.4s;
}
.vase {
  --shift-x: -60px;
  animation-delay: 0.4s;
}

/* .world {
  --shift-x: 20px;
  animation-delay: 0.3s;
} */
.world {
  --shift-x: 20px;
  animation-delay: 0.1s;
}
.brahman {
  --shift-x: -20px;
  animation-delay: 0.3s;
}

.hat {
  --shift-x: 40px;
  animation-delay: 0.5s;
}

/* .lotus {
  --shift-x: 0px;
  animation-delay: 0.6s;
} */
.lotus {
  --shift-x: 0px;
  animation-delay: 0.8s;
}
/* 3 секция */

.marquee {
  position: relative;
  width: 100%;

  margin: 0 auto;
  background-color: #eb8ffc;
  overflow: hidden;
}

.runStroke1 p {
  animation: marquee 6s infinite linear;
  width: 200%;
  font-size: 4.13vw;
  padding: 1.4% 0;
}

/* 4 секция */

.shapes {
  width: 100%;
  margin: 0 auto;
  height: 35.5vw;
  position: relative;
}

.shapesRow {
  display: flex;
  align-items: flex-start;
}
.squares {
  display: flex;
  flex-direction: column;
}

.leftSquares,
.rightsquares {
  display: flex;
  flex-direction: row;
}
.gradientAndRunstroke {
  display: flex;
  flex-direction: column;
  width: 65%;
  position: relative;
}

.greenSquare,
.orangeSquare,
.pinkSquare,
.greenSquare2 {
  width: 50%;
}
.greenSquare:hover,
.orangeSquare:hover,
.pinkSquare:hover,
.greenSquare2:hover {
  transform: scale(90%);
}
.gradient {
  width: 100%;
  height: 22.4vw;
  background-image: url("../images/gradient.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-position: 0% 0%;
  transition: background-position 0.5s ease-out;
}
.gradient:hover {
  background-position: 0% 100%;
}

.pinkStroke {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin-top: -7.3%;
}
.pinkStroke-track img {
  width: 52.4vw;
}

.pinkStroke-track {
  display: flex;
  width: max-content;
  animation: pinkrunStroke-running-animation 8s linear infinite;
}

.pinkStroke-track img {
  flex-shrink: 0;
}

/* 4 секция */

/* .pointMovement {
  position: relative;
  width: 100%;
  height: 40.4vw;
  background-image: url("../images/backgroundGradient.svg");
  background-size: cover;
  margin-left: 1.27%;
  margin-top: 1.27%;
} */
.pointMovement {
  position: relative;
  width: 98.4%;
  height: 41vw;
  background-repeat: no-repeat;
  background-size: 98.6%;
  background-image: url("../images/backgroundGradient.svg");
  /* background-size: cover; */
  /* background-position: center; */
  margin: 2% 0% 2% 1.5%;
}

.way {
  width: 97%;
  height: 100%;
  padding: 7.3% 2.5% 0% 4.5%;
}
.point {
  display: block;
  position: absolute;
  top: 33.5%;
  left: 4.4%;
  width: 2.5%;
  animation: point 14s linear infinite;
}
.point6 {
  display: block;
  position: absolute;
  top: 33.5%;
  left: 4.4%;
  width: 2.5%;
}
/* .poojaText1 {
  animation: colorChange 1s ease-in-out;
}
.poojaText2 {
  animation: colorChange2 1s ease-in-out;
  animation-delay: 4s;
} */
.poojaText1 h1 {
  font-size: 2.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 9%;
  left: 4.4%;
}
.poojaText1 p {
  font-size: 1.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 16.5%;
  left: 4.4%;
}
.point2 {
  position: absolute;
  top: 29.3%;
  left: 57.4%;
  width: 2.5%;
  animation: point2 2s linear infinite;
}
.poojaText2 h1 {
  font-size: 2.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 9%;
  left: 57.4%;
}
.poojaText2 p {
  font-size: 1.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 16.5%;
  left: 57.4%;
}
.point3 {
  position: absolute;
  top: 68.5%;
  left: 74.8%;
  width: 2.5%;
  animation: point3 2s linear infinite;
}
.poojaText3 h1 {
  font-size: 2.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 76.5%;
  left: 74.8%;
}
.poojaText3 p {
  font-size: 1.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 84%;
  left: 74.8%;
}
.point4 {
  position: absolute;
  top: 66.5%;
  left: 27.4%;
  width: 2.5%;
  animation: point4 2s linear infinite;
}
.poojaText4 h1 {
  font-size: 2.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 76.5%;
  left: 27.4%;
}
.poojaText4 p {
  font-size: 1.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 84%;
  left: 27.4%;
}
.point5 {
  position: absolute;
  top: 60%;
  left: 4.4%;
  width: 2.5%;
  animation: point5 2s linear infinite;
}
.poojaText5 h1 {
  font-size: 2.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 76.5%;
  left: 4.4%;
}
.poojaText5 p {
  font-size: 1.8vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 84%;
  left: 4.4%;
}
/* 5 секция */

.trace {
  height: 47.98vw;
  width: 100%;
  position: relative;
}
.textAndgreenTrace1 {
  position: absolute;
  top: 3vw;
  left: 3vw;
  width: 30.8vw;
  /* height: 13.2vw; */
  background-image: url("../images/greenTrace1.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndgreenTrace1 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndgreenTrace2 {
  position: absolute;
  top: 5vw;
  left: 5vw;
  width: 33.7vw;
  /* height: 13.2vw; */
  background-image: url("../images/greenTrace2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndgreenTrace2 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndorangeTrace1 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  width: 17.9vw;
  /* height: 13.2vw; */
  background-image: url("../images/orangeTrace1.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndorangeTrace1 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndpinkTrace4 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  width: 28.1vw;
  /* height: 13.2vw; */
  background-image: url("../images/pinkTrace4.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndpinkTrace4 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndgreenTrace3 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  width: 26.5vw;
  /* height: 13.2vw; */
  background-image: url("../images/greenTrace3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndgreenTrace3 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndorangeTrace3 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  width: 19.3vw;
  /* height: 13.2vw; */
  background-image: url("../images/orangeTrace3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndorangeTrace3 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndpinkTrace2 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  width: 21.9vw;
  /* height: 13.2vw; */
  background-image: url("../images/orangeTrace2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndpinkTrace2 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndpinkTrace3 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  width: 33.8vw;
  /* height: 13.2vw; */
  background-image: url("../images/pinkTrace3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndpinkTrace3 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndorangeTrace2 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  width: 22.8vw;
  /* height: 13.2vw; */
  background-image: url("../images/orangeTrace2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndorangeTrace2 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndorangeTrace4 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  width: 20.9vw;
  /* height: 13.2vw; */
  background-image: url("../images/orangeTrace4.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndorangeTrace4 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
.textAndpinkTrace1 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  width: 20.9vw;
  /* height: 13.2vw; */
  background-image: url("../images/pinkTrace1.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.textAndpinkTrace1 p {
  font-size: 3vw;
  font-weight: 900;
  font-style: normal;
}
/* 6 секция */
.hindiSection {
  position: relative;
  width: 98.3%;
  height: 37vw;
  background-image: url("../images/hindi.svg");
  background-size: 98.8%;
  margin: 2% 0% 2% 1.5%;
  background-repeat: no-repeat;
}
.brahman1 {
  width: 18.5%;
  position: absolute;
  top: 49%;
  left: -1.5%;
  animation: brahman1-rotation 2s ease-in-out infinite alternate;
  /* transform: scale(1);
  transition: transform 0.3 ease-in-out; */
  /* animation: scale 2s infinite linear; */
}
/* .brahman1:hover {
  transform: scale(1.1);
} */
.elephant1 {
  width: 13.5%;
  position: absolute;
  top: -3.8%;
  left: 26.9%;
  animation: elephant1-rotation 2s ease-in-out infinite alternate;
}
.sun1 {
  width: 13.5%;
  position: absolute;
  top: 54.68%;
  left: 49.3%;
  animation: sun1-rotation 12s linear infinite;
}
.vase1 {
  width: 18.5%;
  position: absolute;
  top: 27%;
  left: 80%;
  animation: vase1-rotation 2s ease-in-out infinite alternate;
}

/* 8 секция */

.marquee2 {
  position: relative;
  width: 100%;

  margin: 0 auto;
  background-color: #aef261;
  overflow: hidden;
}

.greenRunStroke p {
  animation: marquee 6s infinite linear;
  width: 200%;
  font-size: 4.96vw;
  padding: 1.4% 0;
}

/* подвал */

.footer {
  margin-top: 1%;
  width: 100%;
  height: 23.8vw;
  position: relative;
  padding: 0 1.5% 0 1.5%;
}
.pinkRectangle1 {
  width: 24%;
  position: absolute;
  top: 15%;
  left: 1.5%;
}
/* .pinkRectangle1Text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
} */
.text1 {
  font-size: 3.1vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 33.4%;
  left: 4.1%;
  transform: rotate(-17.63deg);
}
.endorangestar {
  width: 14%;
  position: absolute;
  top: 15%;
  left: 22.1%;
  transition: transform 0.3s ease;
}
.endorangestar:hover {
  transform: translateY(-10px);
}
.pinkRectangle2 {
  width: 18.6%;
  position: absolute;
  top: 29.2%;
  left: 32.4%;
}
.text2 {
  font-size: 3.1vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 49%;
  left: 35.6%;
  transform: rotate(25.4deg);
}
.pinkRectangle3 {
  width: 19.3%;
  position: absolute;
  top: 11%;
  left: 49.5%;
}
.text3 {
  font-size: 3.1vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 25.4%;
  left: 53.2%;
  transform: rotate(-15.8deg);
}
.endworld {
  width: 15.2%;
  position: absolute;
  top: 24%;
  left: 58%;
  transition: transform 0.3s ease;
}
.endworld:hover {
  transform: translateY(10px);
}
.pinkRectangle4 {
  width: 30%;
  position: absolute;
  top: 35%;
  left: 68.5%;
}
.text4 {
  font-size: 3.1vw;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 52.6%;
  left: 71.8%;
  transform: rotate(12.02deg);
}
